@use '../variables' as var;
@use '../components/form' as form;

.contact-form {
  @extend .form;
  padding: 2rem;
  margin: 3rem auto;
  max-width: 600px;
  box-shadow: var.$shadow;

  &-msg {
    padding: 0.5rem;
    margin: 1rem 0;
    font-weight: 700;
    color: var.$color-green;
    max-width: max-content;
    border-radius: var.$brad-small;
    background-color: lighten(var.$color-light, 2);

    &-err {
      @extend .contact-form-msg;
      color: var.$color-red;
    }
  }

  .form__label {
    color: darken(var.$color-grey, 15);
  }

  .form__input {
    transition: all 0.2s ease-in-out;
    border: 2px solid transparent;
    background-color: var.$color-light;

    &:hover,
    &:focus {
      border-color: darken(var.$color-light, 5);
    }

    &:focus {
      background-color: var.$color-white;
    }
  }
}
