@use '../variables' as var;

// Button component styles
.btn {
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.25rem 2rem;
  border: none;
  color: var.$color-white;
  background-color: var.$color-link;
  border-radius: var.$brad-small;
  transition: all 0.3s ease-out;

  &--link {
    @extend .btn;
    text-transform: none;
    padding: 0.5rem 4rem;
    text-decoration: none;
  }

  &:hover {
    background-color: var.$color-black;
    box-shadow: var.$shadow;
  }

  &:focus,
  &:active {
    transform: scale(0.98);
    outline: none;
  }

  &:active {
    box-shadow: none;
  }

  &:disabled {
    cursor: not-allowed;
    color: var.$color-grey-dark;
    background-color: rgba($color: var.$color-grey-light, $alpha: 0.7);
  }
}
