@use '../variables' as var;
@use '../flex' as *;

.project-grid {
  @extend .flex;

  .project--live,
  .project--design {
    @extend .flex--1-of-2;
    box-shadow: var.$shadow;
    margin-bottom: 2rem;

    &-title {
      margin: 0 1rem 1rem 0;
      padding: 0 1rem;
      color: darken(var.$color-grey, 15);
    }

    &-tech-stack {
      @extend .flex;
      padding: 0 1rem;
      margin-bottom: 0.5rem;
      justify-content: left;

      * {
        padding: 0.15rem 0.4rem;
        background-color: var.$color-light;
        border-radius: var.$brad-small;

        &:not(:first-child, :last-child) {
          margin: 0 1.5rem;
        }
      }
    }

    &-summary {
      padding: 0 1rem;
      margin-bottom: 1rem;
    }

    &-link {
      padding: 0 1rem;
      margin: 1rem 0;

      a {
        background: var.$color-light;
        color: var.$color-link;
        padding: 0.5rem;
        border-radius: 5px;
      }
    }
  }

  .project--github {
    @extend .flex--1-of-3;
    position: relative;
    padding: 1rem 1rem 1rem 2rem;
    margin-bottom: 2rem;
    border: var.$border-small;
    border-radius: var.$brad-small;
    transition: all 0.2s ease-in-out;

    &::before {
      content: "";
      height: 80%;
      width: 0.35rem;
      position: absolute;
      left: 0;
      background-color: var.$color-primary;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      transform: scale(0.98);
    }

    &:hover::before {
      height: 65%;
    }

    &-title {
      color: darken(var.$color-grey, 15);
    }

    &-details {
      span[class*="project--github-details-"] {
        display: block;
        margin: 0.5rem 0;
      }

      strong {
        color: darken(var.$color-grey, 15);
      }

      &-link {
        display: inline-block;
        padding: 0.15rem 1rem;
        border-radius: var.$brad-small;
        background-color: lighten(var.$color-light, 3);
        color: var.$color-link;
      }
    }
  }
}
