@use './variables' as var;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: var.$color-grey-light;
}

html {
  font-size: 75%;
  scroll-behavior: smooth;
}

body {
  font: var.$default-font-size "Lato", sans-serif;
  color: var.$color-dark;
  background-color: var.$color-white;
  box-sizing: border-box;
  line-height: 1.7;
  height: 100%;
}

a {
  text-decoration: none;
}
