@use './variables' as var;

%img {
  max-width: 100%;
  height: auto;

  &--avatar {
    @extend %img;
    clip-path: circle();
  }
}

// Text variants
.text {
  &--danger {
    color: var.$color-red;
  }

  &--success {
    color: var.$color-green;
  }
}

// Border
.border {
  border: var.$border-small;

  // Border modifiers
  &--danger {
    border-color: var.$color-red;
  }

  &--success {
    border-color: var.$color-green;
  }
}

// No items found
.no-items {
  padding: 1rem;
  color: var.$color-white;
  border-radius: 1rem;
  background-color: var.$color-grey;
  display: inline-block;
  box-shadow: var.$shadow;
}
