@use './variables' as var;

%img {
  max-width: 100%;
  height: auto;

  &--avatar {
    @extend %img;
    clip-path: circle();
  }
}

// Text variants
.text {
  &--danger {
    color: var.$color-red;
  }

  &--success {
    color: var.$color-green;
  }
}
